<br>
<br>
<div class="card-container container mt-5">
  <% if @bookings.any? %>
    <h1 class="your-bookings">Your Bookings</h1>
  <div class="row row-cols-1 row-cols-md-3 mt-3">
    <% @bookings.each do |booking| %>
      <div class="booking-card">
        <%= cl_image_tag booking.event.photos[0].key, height: 250, crop: :fill, class: "hero" %>
        <div class="card-details">
          <p><%= link_to booking.event.name, booking_path(booking) %></p>
          <p><%= booking.event.location %></p>
          <p><%= booking.event.date.strftime("%d/%m/%Y") %> | <%= booking.event.start_time.strftime("%H:%M %p") %></p>
        </div>
      </div>
    <% end %>
    <% else %>
      <p>You have no bookings.</p>
      <%= link_to "Browse events", events_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
