<div class="container mt-5">
  <h1>Booking Details</h1>

  <p><strong>ID:</strong> <%= @booking.id %></p>
  <p><strong>User:</strong> <%= @booking.user.email %></p>
  <%= cl_image_tag @booking.event.photos[0].key, height: 250, crop: :fill, class: "hero" %>
  <p><strong>Event:</strong> <%= @booking.event.name %></p>
  <p><strong>Description:</strong> <%= @booking.event.description %></p>
  <p><strong>Tickets:</strong> <%= @booking.number_of_tickets %></p>
  <p><strong>Confirmed:</strong> <%= 'Yes' %></p>

  <%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-primary" %>
  <%= link_to "Delete", booking_path(@booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" }, class: "btn btn-danger" %>
  <%= link_to "Back to Bookings", bookings_path, class: "btn btn-secondary" %>
</div>
