<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="sidebar">
  <div class="container-fluid">
    <%= link_to events_path, class: "navbar-brand" do %>
      <%= image_tag "/img/logo_white.png" %>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-action="click->sidebar#toggle" aria-label="Toggle sidebar">
      <span class="navbar-toggler-icon"> %>
        <%# <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
        <i class="fas fa-bars fa-2xl text-white" id="burger-menu" data-action="click->sidebar#toggle"></i>
      <%# </span>
    </button> %>

    <div class="sidebar d-none" data-sidebar-target="menu">
      <ul class="navbar-nav me-auto" id="sidebar-bits">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Your events", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Your bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
