<div class="container mt-5">
  <div class="edit-event">
    <h1><%= link_to "⇦", events_path, class: "btn btn-secondary" %>   Edit event listing </h1>
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :date, as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :start_time, as: :time %>
        <%= f.input :end_time,  as: :time  %>
        <%= f.input :keywords %>
        <%= f.submit "List", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
