<div class="container mt-5">
  <div class="edit-event">
    <div class="d-flex align-items-center">
      <%= link_to "⇦", events_path, class: "btn btn-secondary me-3" %>
      <h1 id="booking-headings" class="mb-0"> Edit event </h1>
    </div>
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :date, as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :start_time, as: :time %>
        <%= f.input :end_time,  as: :time  %>
        <%= f.input :keywords %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Edit", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
