<div class="banner" style="background-image: url(./img/event_banner.png); margin-bottom: 20px;">
  <div class="container text-center">
    <h2 class="search-title">Find Your New Event</h2>
    <div class="search-container d-flex justify-content-center align-items-center">
      <%= form_with url: events_path, method: :get, local: true, class: "d-flex" do %>
        <div class="form-group mb-0">
          <%= text_field_tag :query, params[:query], placeholder: "Search events...", class: "form-control" %>
        </div>
        <div class="form-group mb-0 ml-2">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>Upcoming Events</h2>
  <div class="cards-events mt-3">
    <div class="cards">
      <% @events.each do |event| %>
        <div class="card event-card">
          <%= image_tag event.photos[0].url, class: "card-img-top" if event.photos.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to event.name, event_path(event), class: "event-link" %></h5>
            <p class="card-text"><strong>Description:</strong> <%= event.description %></p>
            <p class="card-text"><strong>Location:</strong> <%= event.location %></p>
            <p class="card-text"><strong>Date:</strong> <%= event.date %></p>
            <p class="card-text"><strong>Time:</strong> <%= event.start_time %> - <%= event.end_time %></p>
            <%= link_to "Check this event", event_path(event), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
