<div class="video-container" data-controller="scroll">
  <video autoplay muted loop>
    <source src="/videos/matrix.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="search-container">
    <h2 class="search-title">Find Your Next Codeventure!</h2>
      <%= form_with url: events_path, method: :get, local: true, class: "d-flex" do %>
      <div class="form-group mb-0">
        <%= text_field_tag :query, params[:query], placeholder: "Search events...", class: "form-control" %>
      </div>
      <div class="form-group mb-0">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

    </div>
  </div>
    <div class="tags-bar mt-3 mb-3 text-center">
      <% Event.tag_counts_on(:tags).each do |tag| %>
        <%= link_to tag.name, events_path(tag: tag.name), class: "btn btn-outline-primary tag-button mx-1" %>
      <% end %>
    </div>
</div>



<div class="content-container" data-target="scroll.container">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Upcoming Events</h2>
    <% if policy(Event).new? %>
      <%= link_to 'New Event', new_event_path, class: "button-56" %>
    <% end %>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mt-3">
    <% @events.each do |event| %>
      <div class="col mb-4">
        <div class="card event-card">
          <%= cl_image_tag event.photos.first.key, class: "card-img-top castle-image" if event.photos.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to event.name, event_path(event), class: "event-link" %></h5>
            <p class="card-text"><strong>Location:</strong> <%= event.location %></p>
            <p class="card-text"><strong>Date:</strong> <%= event.start_time.strftime("%A %d %B %Y") %></p>
            <p class="card-text"><strong>Time:</strong> <%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %></p>
            <%= link_to "Check this event", event_path(event), class: "button-56" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
