<!DOCTYPE html>
<html>
  <head>
    <title>CodeventuresApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
    <script type="module" src="application.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <main>
        <%= yield %>
      </main>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
